@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
	--color-fantasy: #fdf8f8;
	--color-cod-gray: #1c1b1b;
	--color-scorpion: #5e5e5e;
	--color-soft-peach: #f8f3f2;
}
